<head>
    <title>Login</title>
    <link rel="stylesheet" href="head.component.css" media="screen">
</head>

<body class="header">
    <header class="u-clearfix u-custom-color-2 u-header u-header" id="sec-74b1">
        <div class="u-clearfix u-sheet u-sheet-1">
            <img class="u-image u-image-circle u-preserve-proportions u-image-1" src="assets/images/Captura.PNG" alt="" data-image-width="213" data-image-height="185">
            <img class="u-image u-image-circle u-preserve-proportions u-image-2" src="assets/images/Captura.PNG" alt="" data-image-width="213" data-image-height="185">
            <h3 class="u-headline u-text u-text-default u-text-1">
                <p>AAMoratalaz</p>
            </h3>
        </div>
    </header>
