<div>
    <h1>{{fecha}}</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Condición</th>
                <th scope="col">valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Condiciones</th>
                <td>{{tiempo.conditions}}</td>
            </tr>
            <tr>
                <th scope="row">Visibilidad</th>
                <td>{{tiempo.visibility}} Km</td>
            </tr>
            <tr>
                <th scope="row">Temperatura máxima</th>
                <td>{{tiempo.tempmax}} ºC</td>
            </tr>
            <tr>
                <th scope="row">Temperatura mínima</th>
                <td>{{tiempo.tempmin}} ºC</td>
            </tr>
            <tr>
                <th scope="row">Nieve</th>
                <td>{{tiempo.snow}} mm</td>
            </tr>
            <tr>
                <th scope="row">Velocidad del viento</th>
                <td>{{tiempo.windspeed}} m/s</td>
            </tr>
            <tr>
                <th scope="row">Precipitaciones</th>
                <td>{{tiempo.precip}} mm</td>
            </tr>

        </tbody>
    </table>
    <br><br>
</div>
