<br><br>
<h1>{{fecha}}</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Condicion</th>
            <th scope="col">valor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">conditions</th>
            <td>{{tiempo.conditions}}</td>
        </tr>
        <tr>
            <th scope="row">visibility</th>
            <td>{{tiempo.visibility}}</td>
        </tr>
        <tr>
            <th scope="row">tempmax</th>
            <td>{{tiempo.tempmax}}</td>
        </tr>
        <tr>
            <th scope="row">tempmin</th>
            <td>{{tiempo.tempmin}}</td>
        </tr>
        <tr>
            <th scope="row">snow</th>
            <td>{{tiempo.snow}}</td>
        </tr>
        <tr>
            <th scope="row">windspeed</th>
            <td>{{tiempo.windspeed}}</td>
        </tr>
        <tr>
            <th scope="row">precip</th>
            <td>{{tiempo.precip}}</td>
        </tr>

    </tbody>
</table>
<br><br>